body{
	padding-top: 100px;
	background: rgba(245,238,113,1);
background: -moz-linear-gradient(top, rgba(245,238,113,1) 0%, rgba(245,238,113,1) 25%, rgba(150,222,122,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(245,238,113,1)), color-stop(25%, rgba(245,238,113,1)), color-stop(100%, rgba(150,222,122,1)));
background: -webkit-linear-gradient(top, rgba(245,238,113,1) 0%, rgba(245,238,113,1) 25%, rgba(150,222,122,1) 100%);
background: -o-linear-gradient(top, rgba(245,238,113,1) 0%, rgba(245,238,113,1) 25%, rgba(150,222,122,1) 100%);
background: -ms-linear-gradient(top, rgba(245,238,113,1) 0%, rgba(245,238,113,1) 25%, rgba(150,222,122,1) 100%);
background: linear-gradient(to bottom, rgba(245,238,113,1) 0%, rgba(245,238,113,1) 25%, rgba(150,222,122,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5ee71', endColorstr='#96de7a', GradientType=0 );
}
.indexpage{}
.navbar-default .navbar-brand{
  font-weight: 200;
    color: black;
    letter-spacing: -1px;
}
.navbar-brand > img{
  display: inline;
  margin-right: 10px;
  vertical-align: -3px;
}
.navbar-default{
	background: #fff;
background: -moz-linear-gradient(top, white 0%, #fdfdfd 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, white),  color-stop(100%, #fdfdfd));
background: -webkit-linear-gradient(top, white 0%, #fdfdfd 100%);
background: -o-linear-gradient(top, white 0%, #fdfdfd 100%);
background: -ms-linear-gradient(top, white 0%, #fdfdfd 100%);
background: linear-gradient(to bottom, white 0%, #fdfdfd 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fdfdfd', GradientType=0 );
box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.container .jumbotron, .container-fluid .jumbotron {
    padding-right: 10px;
    padding-left: 10px;
    padding:2% 2% 2% 4%;
    border-radius: 0px;
    box-shadow: 0 0 50px rgba(0,0,0,0.05);
    background-color: transparent;
    color: black;
    font-size: 18px;
    background-image: url("../img/index-hero.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    vertical-align: middle;
    border-radius: 8px;

}
.jumbotron h1 {
    font-size: 120%;
    margin: 5px 0px;
    background-color: black;
    color: white;
    padding: 10px 15px;
    border-radius: 20px;
    margin-bottom: 10px;
    position: relative;
}
.jumbotron h1:after{
	position: absolute;
	content: "2";
	height: 24px;

	width: 24px;
	background: white;
	border-radius: 12px;
	top: -10px;
	right: 16px;
	border: 3px solid black;
	color: black;
	font-size: 8px;
	text-align: center;
	line-height: 20px;
}
.jumbotron p {
    margin-bottom: 15px;
    line-height: 18px;
    font-size: 95%;
    font-weight: 100;
    padding-left: 10px;
}
.jumbotron a{
	margin-left: 10px;
	margin-bottom: 10px;
}
.jumbotron p.noapp{
	font-weight: 100;
	font-style: italic;
}
.jumbotron .box{
	vertical-align: middle;
}
.jumbotron .box1{
	text-align: center;
}
.signupJ{
	display: inline-block;
	padding: 5px 10px;
	color: white ;
	font-weight: 100 !important;
	background-color: black;
	border-radius: 0px;
	font-size: 18px;
}
.signupJ:hover{
	color: rgba(255,255,255,0.8);
}
.box1 >div {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    height: 0px;
    width: 100%;
}

.box1 > div iframe, .box1 > div object, .box1 > div embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.content{
	margin-top: 100px;
}
footer{
	background: black;
	color: white;
	font-size: 12px;
	margin-top: 30px;
}
.frow{
	padding: 15px 0px;
}
.banners{
	color: black;
}
.banners p{
	font-size: 120%;
	font-weight: 100;
	color: black;
	line-height: 28px;
}
.banners .img{
	text-align: right;
}
.banners .img img{
	max-width: 100%;
}

.banners.right{
	text-align: right;
}
.banners.right .img{
	text-align: left;
}
.banners{
	margin-bottom: 100px;
}
